<div class="container" >
    <div class="row" style="width: 100%;">
        <div class="col-1 ">
            <img src="../../assets/finished-logo.png" style="height: 5em; width: 5em; margin-left: 1em">
        </div>
        <div class="col d-none d-lg-block" style="margin: auto; padding: 0em;">
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; ">Pristine Bin</h1>
        </div>
        <div class="col" style="margin-bottom: auto; margin-top: auto; position: relative; width: 80%;">
            <button mat-raised-button color="primary" style="float: right; margin-left: 1em; background-color: black; color: red;" (click)="signUp()">Sign Up</button>
            <button mat-raised-button color="primary" style="float: right; background-color: black; color: red;" (click)="signIn()">Sign in</button>
        </div>
    </div>  
</div>
