<div class="container" >
    <div class="row" style="width: 100%;">
        <div class="col-xs-1">
            <img src="../../assets/finished-logo.png" style="height: 5em; width: 5em; margin-left: 1em" (click)="routeProfile()">
        </div>
        <!-- Hide Name on mobile phones -->
        <div class="pristine col-6 d-none d-sm-block">
            Pristine Bin
        </div>
        <div class="signin">
            <button mat-raised-button color="primary" style="float: right; margin-left: 1em; background-color: black; color:white;"><a style="color: white;" href="https://pristine-bin.auth.us-east-1.amazoncognito.com/login?client_id=4jsalerf4aec0m0pef6a4850el&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fabout">Sign Up</a></button>
            <button mat-raised-button color="primary" style="float: right; background-color: black; color: white;"><a style="color: white;" href="https://pristine-bin.auth.us-east-1.amazoncognito.com/login?client_id=4jsalerf4aec0m0pef6a4850el&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fabout">Sign in</a></button>
        </div>
    </div>  
</div>
