<div class="container" >
    <div class="row" style="width: 100%;">
        <div class="col-xs-1">
            <img src="../../assets/finished-logo.png" style="height: 5em; width: 5em; margin-left: 1em">
        </div>
        <!-- Hide Name on mobile phones -->
        <div class="pristine col-6 d-none d-sm-block">
            Pristine Bin
        </div>
        <div class="signin">
            <button mat-raised-button color="primary" style="float: right; margin-left: 1em; background-color: black; color:white;" (click)="signUp()">Sign Up</button>
            <button mat-raised-button color="primary" style="float: right; background-color: black; color: white;" (click)="signIn()">Sign in</button>
        </div>
    </div>  
</div>
