<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-xs-1" style="height: 5em; width: 5em; margin-left: 1em">
            <img src="../../assets/finished-logo.png" style="height: 5em; width: 5em;">
        </div>
        <div class="footer-text col-6 d-none d-sm-block">
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: auto; margin-bottom: auto;">Immaculate, Pristine.</h4>
        </div>
        <div class="socials">
            <img src="../../assets/instagram.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
            <img src="../../assets/twitter.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
            <img src="../../assets/facebook.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
            <img src="../../assets/linkedin.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
        </div>
        
    </div>
</div>
