<div style="display: flex; margin-left: 5em; margin-right: 5em;">
    <img src="../../assets/finished-logo.png" style="height: 5em; width: 5em;">
    <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: auto; margin-bottom: auto;">Immaculate, Pristine.</h4>

    <!-- <p style="margin: auto; font-family: Georgia, 'Times New Roman', Times, serif;">Immaculate, Pristine</p> -->
    <div style="margin-bottom: auto; margin-top: auto; position: relative; margin-left: 60em;">
        <img src="../../assets/instagram.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
        <img src="../../assets/twitter.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
        <img src="../../assets/facebook.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
        <img src="../../assets/linkedin.png" style="height: 2em; width: 2em; margin-left: 0.5em; margin-right: 0.5em;">
    </div>
</div>
