// /* Remove autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.login-card {
  position: relative;
  width: 30em;
  height: 18em;
  display: block;
  padding-top: 1em;
  background-color: rgba(0, 0, 0, 0.15);
  margin: auto;
  top: 16em;
  ;
}

.login-title{
  margin: auto;
  font-size: 2em;
}

.mat-card-header{
  width: 31%;
  margin: auto;
}

.mat-form-field{
  padding: 0;
}

.mat-form-field{
  padding: 0;
}
.sign-in-button{
  background-image: url('../../assets/swan2.jpg');  
  width: 100%;
  bottom: 1em;
}

.cancel-button{
  background-image: url('../../assets/swan2.jpg');  
  width: 100%;
}
.sign-in-div{
  background-image: url('../../assets/swan2.jpg');  
  background-size: cover; 
  background-repeat: no-repeat;  
  background-color: #bebebe; 
  margin-left: 0; 
  margin-right: 0; 
  width: 100%; 
  height: 100%;
  // padding-top: 20vh;
}

.mat-card-subtitle{
  left: 1.5em;
  position: relative;
  left:1.5em;
}
