<div class="about">
    <!-- <h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; top: 1em; position: relative;"> A B O U T </h1> -->
    <!-- <div class="row">
        <div class="col" style="width: 40vw; margin: auto; text-align: center; top: 2em; position: relative;">
            <p style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; top: 2em; position: relative; font-weight: 700; line-height: 2em; padding-left: 3em;">
                If something is pristine it's immaculately clean or has never been used.
                
                So please check your shoes before walking on a pristine white carpet.

                A long, long time ago pristine was used to describe primitive or ancient things.
                    
                It wasn’t until 1899 that the word grew to mean "unspoiled" or "pure."
                
                Ecologists strive to preserve pristine rain forests, just as vacationers are always looking for a pristine strip of beach to lounge on.
                    
                A new car should arrive to you in pristine condition, and hopefully you'll do your best to keep it that way.
            </p>
        </div>
    <div class="col" style="width: 40vw; margin: auto; text-align: center; top: 2em; position: relative;">
        <p>Video</p>
    </div>
    </div> -->
</div>
