// .container{
//     background-image: url("../../assets/cement.jpg");
//     background-size: cover; 
//     // background-size: 100%;
//     // background-repeat: no-repeat;  
//     background-color: #bebebe; 
//     margin-left: 0; 
//     margin-right: 0; 
//     width: 100vw; 
//     height: 82vh;
//     max-width: 100vw;
// }

.pricing{
    background-image: url("../../assets/cement.jpg");
    background-size: cover; 
    background-repeat: no-repeat;  
    background-color: #bebebe; 
    margin-left: 0; 
    margin-right: 0; 
    width: 100%; 
    height: 100%;
}
@font-face {
    font-family: lato;
    src: url(../../assets/fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf) format("opentype");
  }

// mobile devices
@media (max-width: 575.98px){
    .socials{
        right: 0;
    }

    .screen-area{
        background-size: 160% 100%; 
    }
}