.header{
    height: 5em; 
    background-color: silver; 
    background-image: url('../assets/silver2.jpg') ;  
    background-size: cover;
    display: flex;
}

.container-fluid{
    background-repeat: repeat;
    margin: 0;
    height: 100%;
}

.mt-auto{
    height: 5em; 
    background-color: silver; 
    background-image: url('../assets/silver2.jpg') ;  
    background-size: cover;
    display: flex;
}

.right-nav-button{
    position: absolute;
    right: 1em;
    top: 45vh;
    width: 2em;
    height: 2em;
}

.left-nav-button{
    position: absolute;
    left: 1em;
    top: 45vh;
    width: 2em;
    height: 2em;
}