<div class="sign-in-div">    
    <mat-card class="login-card">
        <mat-card-header>
            
                <mat-card-title class="login-title">Welcome</mat-card-title>
                <mat-card-subtitle>Please Sign in</mat-card-subtitle>
            
        </mat-card-header>

        <!-- Center of login Card -->
        <mat-card-content>
            <div class="login-card-content">
                <!-- <mat-spinner *ngIf="loading" style="margin: auto; top: 45%; position: absolute; left: 45%;"></mat-spinner> -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
                    <div>
                        <div style="margin:auto; width: 81%">
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="username" placeholder="username">
                                <mat-error *ngIf="loginForm.get('username').hasError('required')">
                                    Username is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" type="password" placeholder="*********">
                                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-button class="sign-in-button" raised primary type="submit" style="outline: none; box-shadow: none;">Sign in</button>
                    <button mat-button class="cancel-button" type="reset" outline>Cancel</button>
                </form>
            </div>
        </mat-card-content>
        <mat-card-footer style="padding-top: 3em;">
            
        </mat-card-footer>
    </mat-card>
</div>
