
<div class="screen-area">
    <div id="landing-page-info-div" style="font-size: larger;">
        <div style="text-align: center;">
            <h1 style="text-align: center; font-family:Georgia, 'Times New Roman', Times, serif">EMAIL</h1>
            <p>pristine.bin@gmail.com</p>
        </div>
        <div style="text-align: center;">
            <h1 style="text-align: center; font-family:Georgia, 'Times New Roman', Times, serif">TELEPHONE</h1>
            <p>(011) 768 5523</p>
        </div>
        <div style="text-align: center;">
            <h1 style="text-align: center; font-family:Georgia, 'Times New Roman', Times, serif">WHATSAPP</h1>
            <p>068 773 2458</p>
        </div>
    </div>
</div>

